* {
  box-sizing: border-box;
}

a {
  color: #cdf;
  transition: color 0.1s ease-in;
}

a:visited {
  color: #dcf;
}

a:hover {
  color: #abf;
}

body {
  font-family: "Roboto Slab", serif;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(29, 182, 253, 1) 50%,
    rgba(69, 252, 165, 1) 100%
  );
}

.site {
  display: flex;
}

.site {
  margin-top: 3vw;
}

.site > * {
  margin: 0 1vw;
}

.sidebar {
  width: 33.33333vw;
}

.main-content {
  order: 0;
}

.left {
  order: -1;
}

.right {
  order: 1;
}

.card {
  background-color: #333;
  padding: 2rem;
  margin-bottom: 3vw;
  color: #fff;
  box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  width: 100%;
}

.clear {
  background: none;
}

.created {
  color: #eee;
  float: right;
}

.subheading {
  color: #f7eeff;
}

.divider {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  height: 2px;
  background-color: #555;
}

.dashed {
  border-style: dashed;
}

li {
  margin-bottom: 0.25em;
}

@media only screen and (max-width: 768px) {
  .site {
    flex-direction: column;
  }

  .site > * {
    width: initial !important;
  }
}
